<?xml version="1.0" ?>
<config>
    <modules>
        <BearsLoveHoney_MultipartAlternativeEmail>
            <version>1.0.0</version>
        </BearsLoveHoney_MultipartAlternativeEmail>
    </modules>
    <global>
        <helpers>
            <multipartalternativeemail>
                <class>BearsLoveHoney_MultipartAlternativeEmail_Helper</class>
            </multipartalternativeemail>
        </helpers>
        <models>
            <bearslovehoney_multipartalternativeemail>
                <class>BearsLoveHoney_MultipartAlternativeEmail_Model</class>
                <resourceModel>bearslovehoney_multipartalternativeemail_resource</resourceModel>
            </bearslovehoney_multipartalternativeemail>
            <core>
                <rewrite>
                    <email_template>BearsLoveHoney_MultipartAlternativeEmail_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <multipartalternativeemail_options>
                                            <title>BearsLoveHoney Multipart Email Module Section</title>
                                        </multipartalternativeemail_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <multipartalternativeemail_options>
            <configfields>
                <multipartalternativeemail_boundary>--EMAIL_BOUNDARY--</multipartalternativeemail_boundary>
            </configfields>
        </multipartalternativeemail_options>
    </default>
</config>